.root {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: black thin solid;
    padding: 1rem;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header:hover {
     background-color: grey;
 }

.title {
    transition: background-color ease 0.2s;
    flex-grow: 1;
    /*user-select: none;*/
    position: relative;
}
.list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
    transition: background-color 0.2s ease, opacity 0.1s ease;
    user-select: none;
    width: 250px;
}
.scrollContainer {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}
.dropZone {
    min-height: 500px;
    padding-bottom: 1rem;
}
